<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card>

  <img alt="imagem contatos" src="assets/shapes.svg"> 

  <ion-card-header>
    
    <ion-card-title> Agradecemos o seu contato 
    </ion-card-title>

    <ion-card-subtitle>

      <ion-icon name="call-outline"></ion-icon>
      <ion-label class="ion-text-wrap"  color="primary"> (21) 99999-9999</ion-label>

    <br>
    <br>

      <ion-icon name="mail-open-outline"></ion-icon>
      <ion-label class="ion-text-wrap"  color="primary"> lista@lista.com.br</ion-label>

      <br>
      <br>


      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label class="ion-text-wrap"  color="primary"> instragram.com/lista</ion-label>

    </ion-card-subtitle>




  </ion-card-header>





</ion-card>


</ion-content>
