<ion-header [translucent]="true">
  <div color="dark" mode="ios" class="menu">
   <div class="logo">
     <a href=""><img src="" alt="Logo da Tour Brasil" class="logo-tour" name="logo-tour"></a>
     <a href=""><h1  class="nome-tour">Tour Brasil</h1></a>
   </div>
   <div class="nav">
     <ul class="nav-list">
       <a href=""><li class="nav-item">Quem Somos</li></a>
       <a href=""><li class="nav-item">Serviços</li></a>
     </ul>
   </div>
  </div>
</ion-header>

<div class="content">
  <div class="img-content">
    <img src="../../../assets/content-image.jpg" alt="Avião de Viagem">
  </div>
  <div class="text-content">
    <h1 class="text-title">Venha conhecer o <br>Brasil Conosco</h1>
    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum placeat distinctio assumenda earum illo impedit dolore tempore architecto iusto nesciunt quo omnis sed, inventore exercitationem labore doloribus eius consequatur. Amet.</p>
  </div>
  <!--<ion-img [src]="image"></ion-img>  
  
    <ion-list >      
      <ion-item-sliding  *ngFor="let produto of listaProdutos">

      <ion-item (click)="actionMetod(produto)">
        
        Bolinha Branca
        <ion-icon name="radio-button-off" *ngIf="!produto.status"></ion-icon>
        <ion-label *ngIf="!produto.status"><strong>Produto:</strong> {{produto.produto}} </ion-label>
        <ion-label *ngIf="!produto.status"><strong>Quant:</strong>  {{produto.quantidade}}</ion-label>

        Bolinha Verde
        <ion-icon name="checkmark-circle" color="success" *ngIf="produto.status"></ion-icon>
        <ion-label *ngIf="produto.status"><del><strong>Produto:</strong> {{produto.produto}} </del></ion-label>
        <ion-label *ngIf="produto.status"><del><strong>Quant:</strong> {{produto.quantidade}}</del></ion-label>
      </ion-item>

      <ion-item-options>
        
        <ion-item-option  color="danger" (click)="deletar(produto.id)">
          <ion-icon name="trash-outline"></ion-icon>          
        </ion-item-option>
        
        <ion-item-option  color="success" [routerLink]="['/form',produto.id]">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>

      </ion-item-sliding>

    </ion-list>-->
  

    
  </div>
